# Python
**/.venv/
**/__pycache__/
*.pyc
.env

# Large ISIC dataset
data/raw/*.zip
data/raw/ISIC2018_Task3_Training_Input/
data/raw/ISIC2018_Task3_Training_GroundTruth/

# Also ignore the nested copy if it still exists
edge-ai-triage/data/raw/*.zip
edge-ai-triage/data/raw/ISIC2018_Task3_Training_Input/
edge-ai-triage/data/raw/ISIC2018_Task3_Training_GroundTruth/